%ul.breadcrumb
  %li
    = link_to "Quizzes", quizzes_path
    %span.divider &raquo;
  %li 
    = link_to @quiz.name, quiz_path(@quiz)
    %span.divider &raquo;
  %li Edit

%h4 Edit Quiz

= render "form"
