.jumbotron
  %h1.centered Welcome to Quizzy!
  %br
  .row-fluid
    .span4.offset2
      %p= link_to "Sign-up", signup_path, :class => "btn btn-large btn-success"
    .span4
      %p= link_to "Login", login_path, :class => "btn btn-large btn-info"
