!!! 5
%html{:lang => I18n.locale}
  %head
    %title Quizzit Webapp
    %meta{:name => :viewport, :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => :robots, :content => :noindex }
    =csrf_meta_tag
    =stylesheet_link_tag 'application', :media => "all"

  %body
    .container-narrow
      .masthead
        -#%ul.nav.nav-pills.pull-right
          -#%li aaa
        %h3 Quizzit

      %hr

      = yield

      %hr

      .footer
        %p Copyright &copy; Kindoo Inc.
    =javascript_include_tag 'application'

